footer {
    width: 100%;
    
    min-height: 41.5rem;
    display: flex;
    background: url(../assets/footer.svg) no-repeat;
    background-size: 100%;
    margin-top: 50rem;
    .content {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left {
        display: flex;
        flex-direction: column;

        & img {
            width: 26.4rem;
            height: auto;
            margin-bottom: 1.2rem;
        }

        & span {
            padding-top: 1.2rem;
            border-top: 1px solid var(--shape-stroke);

            img {
                width: 2.4rem;
                height: 2.4rem;
                margin: 0 0.8rem;
            }
        }
    }

    .right {
        display: flex;
        gap: 5.6rem;

        ul {
            list-style: none;

            li {
                margin-bottom: 1.6rem;
                color: var(--blue-light);
                font: var(--txt-1-4) / 140% 'Raleway', sans-serif;
                font-weight: 400;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: inherit;
                    text-decoration: none;
                    cursor: pointer;
                }
    
                & a:hover {
                    color: var(--blue-base);
                }
            }


            .title {
                color: var(--text-body);
                font: var(--txt-1-6) / 140% 'Raleway', sans-serif;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        background: url(../assets/footer-mb.svg) no-repeat;
        .content {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .left {
                margin-bottom: 2.4rem;
            }
        }
    }
}