* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Definindo REm para 10%*/
  font-size: 62.5%;

  /*Colors*/
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: rgb(35, 117, 164);
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-background: #00050a;
  --shape-base: #000f1f;
  --shape-hover: #001933;
  --shape-stroke: #002347;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  /*fonts*/
  font-family: 'Raleway', sans-serif;

  --title-lg: 4.8rem;
  --title-md: 4rem;
  --title-sm: 3.2rem;
  --txt-1-6: 1.6rem;
  --txt-1-4: 1.4rem;
  --txt-1-2: 1.2rem;
  --body-lg: 2rem;
  --mb-title: 2.8rem;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  background-color: var(--shape-background);
  color: var(--text-body);
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: var(--mb-title);
  color: var(--text-title);
}
img {
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
span {
  font-family: 'Raleway', sans-serif;
}
