.payments {
  max-width: 144rem;
  min-height: 100vh;
  background: url(../assets/pricing-background.png) no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-top: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  >h2 {
    text-align: center;
  }

  .pay-contents {
    position: relative;
    display: flex;
    margin-top: 25rem;
    z-index: 1;

    .cards {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 3.2rem;
      border-radius: 2.4rem;
      background-color: var(--shape-base);
      border: 0.1rem solid var(--shape-stroke);

      transition: transform 0.3s ease-in-out, z-index 0s 0.15s,
        background-color 0.2s;

      span {
        >h2 {
          font: var(--title-md) / 140% "Raleway", sans-serif;
          font-weight: 700;
          color: var(--text-title);
          margin: 2.4rem 0 0.8rem 0;

          & strong {
            font: var(--txt-1-6) / 140% "Raleway", sans-serif;
          }
        }

        h4 {
          font: var(--txt-1-6) / 140% "Raleway", sans-serif;
          color: var(--blue-light);
          font-weight: 700;
        }

        p {
          color: var(--text-label);
        }
      }

      .list {
        margin-top: 7rem;
        margin-bottom: 2.4rem;
        list-style: none;
      }

      ul li {
        display: flex;
        position: relative;
        padding: 0.6rem 0 0.6rem 2rem;
        color: var(--text-label);
        font: var(--txt-1-4) / 140% "Raleway", sans-serif;
      }

      .list li::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0.8rem;
        width: 1.4rem;
        height: 1.4rem;
        background: url("../assets/icons/star-list.svg") no-repeat center;
        background-size: contain;
      }

      button {
        width: 100%;
        border-radius: 0.8rem;
        border: none;
        padding: 1.2rem 5.2rem;
        margin-top: auto;
        cursor: pointer;
        font: var(--txt-1-4) / 140% "Raleway", sans-serif;
        font-weight: 700;
        color: var(--text-title);
      }
    }

    & .cd-1,
    .cd-3 {
      & button {
        background-color: var(--blue-dark);
      }

      & button:hover {
        background-color: var(--blue-mid);
      }
    }

    .cd-1 {
      transform: rotate(-8deg);
    }

    .cd-3 {
      transform: rotate(8deg);
    }

    & .cd-2 {
      transform: scale(1.05) translateY(-20px);
      z-index: 5;

      .pop {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >span {
          background-color: var(--shape-stroke);
          color: var(--text-title);
          padding: 0.9rem 2rem;
          border-radius: 99rem;
          font: 1rem / 140% "Raleway", sans-serif;
          font-weight: 700;
        }
      }

      & button {
        background-color: var(--pink-dark);
      }

      & button:hover {
        background-color: var(--pink-base);
      }
    }

    .cd-1::after {
      content: "";
      position: absolute;
      top: -2rem;
      left: -3rem;
      width: 2.6rem;
      height: 2.6rem;
      background: url("../assets/icons/st-bt.svg") no-repeat center;
      background-size: contain;
      transition: transform 0.6s ease;
    }

    .cd-1 span::after {
      content: "";
      position: absolute;
      top: 2rem;
      left: -4rem;
      width: 1.3em;
      height: 1.35rem;
      background: url("../assets/icons/st-top.svg") no-repeat center;
      background-size: contain;
      transition: transform 0.6s ease;
    }

    .cd-2::after {
      content: "";
      position: absolute;
      top: -4.5rem;
      left: 4rem;
      width: 4.5rem;
      height: 4.5rem;
      background: url("../assets/icons/bunny.png") no-repeat center;
      background-size: contain;
    }

    .cd-3::after {
      content: "";
      position: absolute;
      top: 48rem;
      right: -4rem;
      width: 2.6rem;
      height: 2.6rem;
      background: url("../assets/icons/st-bt.svg") no-repeat center;
      background-size: contain;
      transition: transform 0.6s ease;
    }

    .cd-3 span::after {
      content: "";
      position: absolute;
      top: 51rem;
      right: 0rem;
      width: 1.3em;
      height: 1.35rem;
      background: url("../assets/icons/st-top.svg") no-repeat center;
      background-size: contain;
      transition: transform 0.6s ease;
    }

    .cards:hover {
      border: none;
      background-color: var(--shape-hover);
      transform: scale(1.08) translateY(0);
      z-index: 10;
      transition: transform 0.3s ease-in-out, z-index 0s, background-color 0.2s;
      box-shadow: 0 0 0px var(--blue-light), 0 0 30px rgba(11, 72, 110, 0.425);
    }

    .cd-1:hover {
      transform: scale(1.05) translateY(-20px) rotate(-8deg);
    }

    /*MOVENDO A PRIMEIRA ESTRELA*/
    .cd-1:hover::after {
      transform: rotate(-24deg);
    }

    .cd-1:hover span::after {
      transform: rotate(24deg);
    }

    .cd-2:hover {
      transform: scale(1.15) translateY(-20px);
    }

    .cd-3:hover {
      transform: scale(1.05) translateY(-20px) rotate(8deg);
    }

    /*MOVENDO A SEGUNDA ESTRELA*/
    .cd-3:hover::after {
      transform: rotate(24deg);
    }

    .cd-3:hover span::after {
      transform: rotate(-24deg);
    }
  }
}

.pay-contents::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150rem;
  height: 150rem;
  background: radial-gradient(circle,
      rgba(47, 14, 53, 0.705) 0%,
      rgba(15, 14, 21, 0) 60%);
}

@media (max-width: 767px) {
  .payments {
    margin-top: 1rem;
    background: none;
  }

  .pay-contents {
    width: 100%;
    margin-top: 5rem !important;
    padding: 2rem 1.6rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 1.6rem;
    gap: 1.6rem;
    justify-content: flex-start;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .pay-contents::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }

  .cards {
    min-width: 28rem;
    scroll-snap-align: start;
    transform: none !important;
    margin: 0 !important;
  }

  .cd-1,
  .cd-2,
  .cd-3 {
    transform: none !important;
  }

  .cd-2 {
    transform: none !important;
    z-index: 1 !important;
  }

  /* Ajuste para os elementos decorativos */
  .cd-1::after,
  .cd-1 span::after,
  .cd-2::after,
  .cd-3::after,
  .cd-3 span::after {
    display: none;
  }

  .cards:hover {
    transform: scale(1.02) !important;
    box-shadow: 0 0 15px rgba(11, 72, 110, 0.425);
  }

  .pay-contents::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
}