sc-surprise {
  height: 40rem;
  position: apsolute;
  margin-top: 9rem;
  .ic-1 {
    position: relative;
    top: 0;
    left: 50px;
  }
}
.surprise {
  margin-inline: auto;
  text-align: center;

  max-width: 85rem;

  & p {
    color: var(--text-body);
    font: var(--body-lg) / 200% sans-serif;
    line-height: 2.5;
  }

  strong {
    color: var(--blue-light);
  }

  .icons {
    position: absolute;
    width: 8.8rem;
    height: 8.8rem;
  }
}

@media (max-width: 430px) {
  .surprise {
    width: 33.5rem;
    margin-top: 11.3rem;
    margin-inline: auto;
    text-align: center;

    & p {
      color: var(--text-body);
      font: var(--txt-1-6) / 140% sans-serif;
      letter-spacing: 0%;
      text-align: center;

      &strong {
        color: var(--pink-base);
        font-weight: 600;
      }
    }
  }
}
