.sc-surprise {
  height: 40rem;

  .surprise {
    position: relative;
    margin-top: 0rem;
    max-width: 120rem;
    margin-inline: auto;
    text-align: center;

    span {
      & p {
        max-width: 106.5rem;
        margin-inline: auto;
        color: var(--text-body);
        font: 2.8rem / 200% sans-serif;
      }

      strong {
        color: var(--blue-light);
        font-weight: 700;
      }
    }

    .icons {
      position: absolute;
      width: 6rem;
      height: auto;
    }

    .ic-1 {
      bottom: -5rem;
      left: 5rem;
      transform: rotate(99.47deg);
    }

    .ic-2 {
      bottom: -5rem;
      right: 4rem;
      transform: rotate(-14.48deg);
    }

    .ic-3 {
      top: -8rem;
      left: 50%;
      transform: translateX(-50%);
      transform: rotate(20.76deg);
    }
  }
}

@media (max-width: 430px) {
  .surprise {
    width: 33.5rem;
    margin-top: 11.3rem;
    margin-inline: auto;
    text-align: center;

    & p {
      color: var(--text-body);
      font: var(--txt-1-6) / 140% sans-serif;
      letter-spacing: 0%;
      text-align: center;

      &strong {
        color: var(--pink-base);
        font-weight: 600;
      }
    }
  }
}
