.sc-surprise {
  height: 40rem;
  margin-top: 20rem;

  .surprise {
    position: relative;
    margin-top: 0rem;
    max-width: 120rem;
    margin-inline: auto;
    text-align: center;

    span {
      & p {
        max-width: 106.5rem;
        margin-inline: auto;
        color: var(--text-body);
        font: 2.8rem / 200% sans-serif;
      }

      strong {
        color: var(--blue-light);
        font-weight: 700;
      }
    }

    .icons {
      position: absolute;
      width: 6rem;
      height: auto;
    }

    .ic-1 {
      bottom: -5rem;
      left: 5rem;
      transform: rotate(99.47deg);
    }
    .ic-1:hover {
      transform: scale(1.2) rotate(115deg);
      transition: transform 0.4s ease-in-out;
    }

    .ic-2 {
      bottom: -5rem;
      right: 4rem;
      transform: rotate(-16.48deg);
    }
    .ic-2:hover {
      transform: scale(1.2) rotate(-2deg);
      transition: transform 0.4s ease-in-out;
    }

    .ic-3 {
      top: -8rem;
      left: 50%;
      transform: translateX(-50%);
      transform: rotate(20.76deg);
    }
    .ic-3:hover {
      transform: scale(1.2) rotate(40deg);
      transition: transform 0.4s ease-in-out;
    }
  }

}

@media (max-width: 430px) {
  .sc-surprise {
    margin-top: 10rem;
    .surprise {
      width: 33.5rem;
      margin-inline: auto;
      text-align: center;

      span {
        & p {
          color: var(--text-body);
          font: var(--txt-1-6) / 140% sans-serif;
          letter-spacing: 0%;
          text-align: center;

          &strong {
            color: var(--pink-base);
            font-weight: 600;
          }
        }
      }

      .icons {
        position: absolute;
        width: 4rem;
        height: auto;
      }
      .ic-1 {
        bottom: -5rem;
        left: 0;
        transform: rotate(-30deg);
      }

      .ic-2 {
        bottom: -5rem;
        right: 0;
        transform: rotate(15deg);
      }

      .ic-3 {
        top: -5rem;
        left: 72%;
        transform: rotate(15deg);
      }
    }
  }
}
